@font-face {
    font-family: "Pays";
    src: url('../fonts/TrajanPro-Regular.otf'); /* TheWildBreathOfZelda RingbearerMedium KeltCapsFreehand Twoforjuan */
}

@font-face {
    font-family: "Fiefs";
    /*src: url('../fonts/Livingst.ttf'); */
/*    src: url('../fonts/Dumbledor1.ttf');  */
    src: url('../fonts/Libra.ttf'); 

}
