@font-face {
    font-family: "Pays";
    src: url('../fonts/RingbearerMedium.ttf'); /* TheWildBreathOfZelda RingbearerMedium KeltCapsFreehand Twoforjuan */
}

@font-face {
    font-family: "Fiefs";
    src: url('../fonts/Dumbledor1.ttf'); /* Dumbledor1 Libra UncialAntiqua DevinneSwash */
}
